@model Pizza

@{
	var pizza = Model;
}

<h2>New pizza</h2>

<div class="container">
	<div class="pad">
		<form method="post" asp-controller="Pizza" asp-action="Create">
			@Html.AntiForgeryToken()
			<div class="form-field">
				<label asp-for="Name">Name</label>
				<input asp-for="Name" />
				<span asp-validation-for="Name" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Description">Description</label>
				<textarea asp-for="Description"></textarea>
				<span asp-validation-for="Description" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Image">Image source</label>
				<input asp-for="Image" />
				<span asp-validation-for="Image" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Price">Price</label>
				<input asp-for="Price" />
				<span asp-validation-for="Price" class="text error"></span>
			</div>
			<button type="submit">Create</button>
		</form>
	</div>
</div>

